@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    padding: 0;
    margin: 0;
}

.judulHalaman{
    padding: 30px;
    padding-bottom: 0;
    background-color: rgb(153, 153, 153);
}
.judulUtama, .judulDua, .judulTiga{
    padding: 10px;
    font-family:'Kanit', sans-serif;
}
.judulUtama{
    font-size: 30px;
    padding-bottom: 0;
}
.judulDua{
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
.judulTiga{
    padding-top: 0;
}

#program{
    background-image: linear-gradient(rgb(153, 153, 153),rgb(158, 194, 194));
    padding: 30px;
    size: 20px;
}
.inputan{
    background-color: rgba(80, 80, 80, 0.61);
    color: aliceblue;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
}

.btn-right{
    padding: 15px 30px;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    background-color: rgb(2, 2, 2);
    color: antiquewhite;
    font-size: 16px;
    letter-spacing: 2px;
}

td,th{
    font-family: 'Kanit', sans-serif;
    padding: 20px 0px 20px 10px;
    font-size: 20px;
}
.cal{
    border-radius: 5px;
    padding-left: 5px;
    width: 50px;
}
.footer{
    background-color: black;
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: right;
}